/buildbot/buildbot.tac
/buildbot/http.log
/buildbot/public_html
/buildbot/slave
/buildbot/state.sqlite
/buildbot/templates
/buildbot/twistd.log
/buildbot/twistd.pid
/buildbot/gitpoller-work
/buildbot/cc-*
/buildbot/bb-*
/buildbot/wnr2000v3
/buildbot/wdr4300
tftpboot/
www/
