CONFIG_TARGET_ar71xx=y
CONFIG_TARGET_ar71xx_generic=y
CONFIG_TARGET_ar71xx_generic_WNR2000V3=y
CONFIG_TARGET_ar71xx_generic_WNR2000V4=y
CONFIG_TARGET_ar71xx_generic_TLWDR4300=y

CONFIG_PACKAGE_luci-app-cjdns=y
CONFIG_PACKAGE_kmod-ipt-nat6=y

CONFIG_PACKAGE_uhttpd=y
CONFIG_PACKAGE_uhttpd-mod-ubus=y
CONFIG_PACKAGE_luci-mod-admin-full=y
CONFIG_PACKAGE_luci-theme-bootstrap=y
CONFIG_PACKAGE_luci-app-firewall=y
CONFIG_PACKAGE_libiwinfo-lua=y

CONFIG_DEFAULT_ppp-mod-pppoe=n
CONFIG_DEFAULT_ppp=n
CONFIG_PACKAGE_kmod-ppp=n
CONFIG_PACKAGE_kmod-pppoe=n
CONFIG_PACKAGE_kmod-pppox=n
CONFIG_PACKAGE_luci-proto-ppp=n
CONFIG_PACKAGE_ppp-mod-pppoe=n
CONFIG_PACKAGE_ppp=n

CONFIG_KERNEL_KALLSYMS=n
CONFIG_KERNEL_DEBUG_INFO=n
CONFIG_KERNEL_DEBUG_KERNEL=n
